*{
    text-decoration: none;
}


#git-icon {
    margin: 0px 15px;
}
#home{
padding: 43px 26px;
}

#leftside{
margin: 0px 10px;
}

#leftside h1{
font-size: 4rem;
}
#leftside p{

}

#form{
    margin: 0px;
    width: 80%;
}
#fin{
    font-size: 38px;
}
#gin{
    font-size: 16px;
    margin-bottom: 18px;
}

